@using System.Collections.Generic
@using Test.Data.Model.ModelsView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    System.Web.Mvc.SelectList ListSocios = (System.Web.Mvc.SelectList)ViewBag.ListSocios;
    System.Web.Mvc.SelectList ListServicios = (System.Web.Mvc.SelectList)ViewBag.ListServicios;
    List<HistoricoServicioDataView> oList = ViewBag.Historial;
}


<!-- breadcrumb -->
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Admin")"> Inicio</a></li>
        <li>Registro Historico Servicio</li>
        <li class="active">Historico Servicio</li>
    </ul>
</div>

<!-- Titulo de página -->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin"><i class="fa fa-user fa-sm"></i>&nbsp;Crear Historico Servicio</h3>
        <span>Crear un Historico Servicio.</span>
    </div>
</div>

<div class="padding-md">
    <div class="row">
        <!-- Contenido -->
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="pull-left">
                        <i class="fa fa-edit"></i>&nbsp;Crear Historico Servicio
                    </span>
                    <ul class="tool-bar">
                        <li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Actualizar"><i class="fa fa-refresh"></i></a></li>
                        <li><a href="#aportes" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body collapse in">
                    <!-- body -->
                    <div class="col-md-12">
                        <form class="form-horizontal no-margin" id="formValidate" data-validate="parsley">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Socios</label>
                                <div class="col-md-6">
                                    <select name="ddlSocios" id="ddlSocios" data-required="true" class="form-control">
                                        <option value="" selected></option>
                                        @{
                                            if (ListSocios != null)
                                            {
                                                foreach (System.Web.Mvc.SelectListItem Item in ListSocios)
                                                {
                                                    <option value="@Item.Value">
                                                        @Item.Text
                                                    </option>
                                                }
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Servicio</label>
                                <div class="col-md-6">
                                    <select name="ddlServicio" id="ddlServicio" data-required="true" class="form-control">
                                        <option value="" selected></option>
                                        @{
                                            if (ListServicios != null)
                                            {
                                                foreach (System.Web.Mvc.SelectListItem Item in ListServicios)
                                                {
                                                    <option value="@Item.Value">
                                                        @Item.Text
                                                    </option>
                                                }
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Servicio</label>
                                <div class="col-md-6">
                                    <input id="txtDate" type="datetime" class="form-control" required />
                                </div>
                            </div>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div style="text-align:center">

                                    <a id="btnGuardar" class="btn btn-primary animated-bar">
                                        <i class="fa fa-save"></i>&nbsp; Guardar
                                    </a>
                                </div>

                            }
                        </form>
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-12">
                        <div class="panel-body collapse in" id="">
                            <!-- body -->

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="responsiveTable">
                                    <thead>
                                        <tr>
                                            <th>Servicio</th>
                                            <th>Socio</th>
                                            <th>Fecha Uso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (oList != null)
                                        {
                                            foreach (var item in oList)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.servicio
                                                    </td>
                                                    <td>
                                                        @item.socio
                                                    </td>
                                                    <td>
                                                        @item.fechaUso
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- /body -->
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenido -->
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#responsiveTable').DataTable({
            buttons: {
                name: 'primary',
                buttons: ['copy', 'excel', 'csv', 'pdf', 'print']
            }
        });
        table.buttons().container()
            .insertBefore('#responsiveTable_filter');
         $("#txtDate").datepicker();
    });

    $("#btnGuardar").click(function () {

        var txtDate = $("#txtDate").val();
        var ddlSocios = $("#ddlSocios option:selected").val();
        var idServicio = $("#ddlServicio option:selected").val();
        var token = $("[name=__RequestVerificationToken]").val();
        var Valido = $("#formValidate").parsley("validate");
        if (Valido) {
            $.ajax({
                dataType: "json",
                async: false,
                headers: { "__RequestVerificationToken": token },
                type: "POST",
                url: "@Url.Action("GuadarHistorico", "HistoricoServicio")",
                data: JSON.stringify({ idSocio: ddlSocios, idServicio: idServicio, fechaUso: txtDate  }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "progressBar": true,
                        "positionClass": "toast-top-full-width",
                        "onclick": null,
                        "showDuration": "500",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.options.onHidden = function () {
                        $(location).attr("href", "@Url.Action("Index", "HistoricoServicio")");
                    };
                    toastr.success("Historico registrado con exito.", "Registro Historico");
                }
            });
        }
    });
</script>

